<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite name="My plugin tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="SERVER_PORT">443</server>
        <const name="ELGG_PHPUNIT">true</const>
        <includePath>./tests</includePath>

		<!-- Root directory for Elgg installation -->
        <includePath>./../..</includePath>
    </php>
</phpunit>
